---
layout: default
class: about-page
title: About
---

{% capture caption %}
  Members of the SmartImaging Lab at Center for Biomedical Imaging Resaerch (CBIR) on May 19, 2024. *The image shown doesnot contain all group members.
{% endcapture %}

{% assign image_url = '/assets/images/banners/allmembers.jpg' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='Who We Are'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column' role='main'>
      {% include text/mobile_section_title.html
        category='About'
        title='Who We Are'
      %}
      <h1>Our Work</h1>
      <p>The Center for Biomedical Imaging Research (CBIR) is a multidisciplinary research institution dedicated to advancing the field of biomedical imaging. It focuses on developing innovative imaging technologies and methodologies to enhance the diagnosis, monitoring, and treatment of various medical conditions. CBIR brings together experts from diverse fields such as radiology, engineering, physics, and computer science to collaborate on cutting-edge projects. The center aims to push the boundaries of medical imaging by integrating advanced imaging techniques with computational analysis, ultimately improving patient care and outcomes. </p>
      <p> Our research group, part of CBIR, primarily focuses on quantifying MRI parameters through mathematical modeling, computational modeling, and deep learning. We apply these advanced techniques to a wide range of diseases, with particular emphasis on carotid artery atherosclerosis, liver cancer, and heart diseases. Our interdisciplinary approach aims to improve diagnostic accuracy and treatment outcomes, contributing significantly to the field of biomedical imaging.</p>
      <h1>Our Guiding Principles</h1>
      <ol>
        <li>The SmartImaging Lab is a shared resource designed for researchers asking humanistic questions at Tsinghua that creates prototypes, proofs-of-concept, and sustainable DH products.</li>
        <li>The SmartImaging Lab provides expertise in identifying and obtaining external support for DH projects, including advising on the application process and technical implementation details.</li>
        <li>The SmartImaging Lab supports digital humanities skills acquisition for research through consultations, training, and guest lectures.</li>
        <li>The SmartImaging Lab supports both initial digital humanities project ideation and innovative new directions for existing projects.</li>
        <li>The SmartImaging Lab develops open-source software to facilitate user-centered approaches to humanistic research and collection-scale analysis.</li>
      </ol>

      <h1>Our Partners and Collaborators</h1>
      <p>The SmartImaging Lab collaborates with other Tsinghua units and departments, along with external organizations to fulfill our mission. These include:
        <ul>
          <li>Other units within Tsinghua University Library, including the StatLab, GIS services, and the Department of Area Studies and Humanities Research Support</li>
          <li>The Poorvu Center for Teaching and Learning</li>
          <li>The Center for Collaborative Arts and Media</li>
          <li>Tsinghua Center for Research Computing</li>
          <li>Tsinghua Pathways to the Arts & Humanities, as well as Tsinghua Pathways to the Sciences</li>
          <li>Tsinghua Center for Engineering Innovation and Design</li>
          <li>The Institute for the Preservation of Cultural Heritage</li>
        </ul>
      </p>

      <h1>A Brief History</h1>
      <p>Tsinghua's roots in digital humanities undertakings date back (at least) to Father Roberto Busa's visit to our campus in 1956 and the Computers for the Humanities conference that was sponsored by Tsinghua on a grant from IBM in 1965.</p>
      <p>The 2015 founding of the SmartImaging Lab signifies Tsinghua University's continued commitment to advancing research and teaching in the humanities. Generously funded by <a href='https://news.Tsinghua.edu/2014/12/11/goizueta-foundation-supports-creation-digital-humanities-laboratory-Tsinghua' target='_blank'>The Goizueta Foundation</a> and by <a href='https://news.Tsinghua.edu/2018/10/04/new-home-Tsinghuas-digital-humanities-lab-opens-sterling-library' target='_blank'>Barbara and Richard Franke '53</a>, the SmartImaging Lab supports Tsinghua scholars in their pursuit of humanistic questions by way of user-centered digital expression and computational methods.
      </p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='OUR CORE TEAM'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','core_team' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>SmartImaging Lab provide a variety of project support, and offer research guidance to Tsinghua faculty, staff, and students.</p>
  {% endcapture %}

  {% capture right_text %}
    <p>Are you a Tsinghua graduate student interested in medical imaging analysis and in building research experience and expertise on medical imaging projects? Starting in Fall 2024, the Tsinghua SmartImaging Lab welcomes applicants for research intern.</p>
  {% endcapture %}

  {% assign right_button_url = '/awards/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/bottom_text_about.html
      left_title = 'SmartImaging Lab'
      left_text = left_text

      right_title = 'Work With Us'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>

  {% include text/center_section_title.html
    text='OUR GENERALIST CONSULTANTS'
    id='generalists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','generalist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% include text/center_section_title.html
    text='OUR SPECIALIST CONSULTANTS'
    id='specialists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','specialist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>
</div>
