---
layout: default
class: about-page
title: About
---

{% capture caption %}
  Members of the SmartImaging Lab at Center for Biomedical Imaging Resaerch (CBIR) on May 19, 2024. 
*The image shown doesnot contain all group members.
{% endcapture %}

{% assign image_url = '/assets/images/banners/allmembers.jpg' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='Who We Are'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column' role='main'>
      {% include text/mobile_section_title.html
        category='About'
        title='Who We Are'
      %}
      <h1>Our Work</h1>
      <p>The Center for Biomedical Imaging Research (CBIR) is a multidisciplinary research institution dedicated to advancing the field of biomedical imaging. It focuses on developing innovative imaging technologies and methodologies to enhance the diagnosis, monitoring, and treatment of various medical conditions. CBIR brings together experts from diverse fields such as radiology, engineering, physics, and computer science to collaborate on cutting-edge projects. The center aims to push the boundaries of medical imaging by integrating advanced imaging techniques with computational analysis, ultimately improving patient care and outcomes. </p>
      <p> Our research group, part of CBIR, primarily focuses on quantifying MRI parameters through mathematical modeling, computational modeling, and deep learning. We apply these advanced techniques to a wide range of diseases, with particular emphasis on carotid artery atherosclerosis, liver cancer, and heart diseases. Our interdisciplinary approach aims to improve diagnostic accuracy and treatment outcomes, contributing significantly to the field of biomedical imaging.</p>
      <h1>Our Guiding Principles</h1>
      <ol>
        <li>Dr. Chen is known for his commitment to mentoring students, providing personalized guidance, and fostering a collaborative research environment. Students have access to regular meetings, feedback sessions, and career advice.</li>
        <li>The lab offers opportunities for students to present their research at conferences, publish in leading journals, and network with professionals in the field.</li>
        <li>The SmartImaging Lab provides expertise in Integrating AI and deep learning techniques to enhance image analysis, improve diagnostic accuracy, and automate imaging processes.</li>
        <li>The SmartImaging Lab tailores imaging solutions for specific diseases, aiming to improve diagnostic protocols and patient outcomes for conditions like cardiovascular diseases, cancer, and neurological disorders.</li>
        <li>The SmartImaging Lab supports both initial medical imaging project ideation and innovative new directions for existing projects.</li>
        <li>The SmartImaging Lab develops open-source software to facilitate clinical approaches to scientific research analysis.</li>
      </ol>

    </div>
  </div>

  {% include text/center_section_title.html
    text='Principal Investigator'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','supervisor' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>SmartImaging Lab provide a variety of project support, and offer research guidance to Tsinghua faculty, staff, and students.</p>
  {% endcapture %}

  {% capture right_text %}
    <p>Are you a Tsinghua graduate student interested in medical imaging analysis and in building research experience and expertise on medical imaging projects? Starting in Fall 2024, the Tsinghua SmartImaging Lab welcomes applicants for research intern.</p>
  {% endcapture %}

  {% assign right_button_url = '/awards/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/bottom_text_about.html
      left_title = 'SmartImaging Lab'
      left_text = left_text

      right_title = 'Work With Us'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>

  {% include text/center_section_title.html
    text='Graduate Students'
    id='generalists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','student' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

      <h1>Our Partners and Collaborators</h1>
      <p>The SmartImaging Lab collaborates with other Tsinghua departments and national hospitals, along with external organizations to fulfill our mission. These include:
        <ul>
          <li>Other units within Tsinghua University, including the Department of Automation, Department of Computer Science, and the School of clinical medicine</li>
          <li>Beijing Changgung Hospital</li>
          <li>Beijing Jishuitan Hospital</li>
          <li>Wuhan Xiehe Hospital</li>
        </ul>
      </p>

  {% include text/center_section_title.html
    text='Bacholor Students'
    id='specialists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','specialist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>
</div>
