---
layout: default
class: home-page
title: Welcome
---
<div class='hero background-image'>
  <div class='hero-text'>
    <div class='subhead'>Center for Biomedical Imaging Research (CBIR)</div>
    <h1>SmartImaging Lab</h1>
    <a href='{{ site.baseurl }}/about.html' class='white-button'>Our Team</a>
    <a href='{{ site.baseurl }}/methods.html' class='white-button'>What is Smart Imaging?</a>
  </div>
  {% include heroes/hero_video.html %}
</div>

<!-- temporary warning -->
<!-- {% include warning_banner.html text='' %} -->

<div class='home-center-column'>

  <!-- HOME SPOTLIGHT-BOTTOM -->
  <section aria-label='spotlight-bottom'>
    <div class='home-section-title'>SPOTLIGHT</div>
    {% include news/get_news_spotlight_bottom.html %}

    {% capture square_html %}
    <div class='news-card-square color-background'>
      <div><h2 aria-labelledby='Newsletter Signup'>Sign up for the <br/>SmartImaging e-newsletter!</h2></div>
      <p>Join our mailing list to learn about the latest news, events, and opportunities at the SmartImaging Lab.</p>

      <p>We support projects in all stages of development&mdash;from conceptualization through implementation.</p>
      <a href='{{ site.newsletter }}' target='_blank'><b><span class='white-text'>Subscribe &raquo;</span></b></a>
    </div>
    {% endcapture %}
    {% capture button_prompt %}
    <div class='button-prompt'>
      <b>Find our tips and templates</b> for planning, designing, and managing medical imaging research projects.
    </div>
    <a href='{{ site.baseurl }}/guides.html' class='color-button'>
      <b>Start Here</b>
    </a>
    {% endcapture %}

    {% include cards/news_card.html
      item=item
      square_html=square_html
      button_prompt=button_prompt
    %}
  </section>
</div>
