---
layout: default
class: methods-page full-width-mobile hide-color-hr
header_color: gray
title: Methods
---

<div class='center-column' role='main'>
  {% capture text %}
    Smart Imaging has a number of difinitions. The Smart Imaging Lab, part of Center for Biomedical Imaging Research (CBIR), primarily focuses on quantification of medical images through mathematical modeling, computational modeling, and deep learning. This process of imaging parameter and post-processing quantification, machine learning post-processing manipulation was defined smart imaging by our lab. We apply these advanced techniques to a wide range of diseases, with particular emphasis on carotid artery atherosclerosis, liver cancer, and heart diseases. Our interdisciplinary approach aims to improve diagnostic accuracy and treatment outcomes, contributing significantly to the field of biomedical imaging.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What is Smart Imaging?'
    text=text
  %}

  {% include text/center_section_title.html text='START HERE' %}

  {% capture left_text_one %}
  <p>As with most research in any field, Medical Imaing research often emerge from a combination of clinical needs, literature reviews, technological advancements, interdisciplinary collaboration, funding opportunities, preliminary data analysis, and innovation in algorithms. Researchers identify gaps or challenges in current diagnostic and treatment methods, discover unresolved questions or limitations in existing research, and leverage new technologies or methodologies to improve imaging techniques. Collaborative efforts across different fields often lead to addressing complex medical problems, while specific calls for research proposals from funding agencies and promising preliminary data further inspire and shape new projects. Innovations in computational models or algorithms also play a critical role in driving forward medical imaging research.</p>

  <p>n</p>
  {% endcapture %}

  {% capture right_text_one %}
  <p>Medical imaging research is clinically significant as it enhances the accuracy and early detection of diseases, improves patient outcomes through precise diagnosis and treatment planning, reduces invasive procedures by providing detailed internal views, and advances personalized medicine by tailoring treatments to individual patient conditions.</p> 
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Medical Imaging Research'
    left_text_one=left_text_one

    right_title_one='Clinical Transition'
    right_text_one=right_text_one
  %}

  {% capture text %}
  Smart Imaging Research example.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What do SmartImaging research look like?'
    text=text
  %}

  {% include text/methods_guides_bottom.html %}
</div>
