---
layout: default
class: methods-page full-width-mobile hide-color-hr
header_color: gray
title: Methods
---

<div class='center-column' role='main'>
  {% capture text %}
    Smart Imaging has a number of difinitions. The Smart Imaging Lab, part of Center for Biomedical Imaging Research (CBIR), primarily focuses on quantification of medical images through mathematical modeling, computational modeling, and deep learning. This process of imaging parameter and post-processing quantification, machine learning post-processing manipulation was defined smart imaging by our lab. We apply these advanced techniques to a wide range of diseases, with particular emphasis on carotid artery atherosclerosis, liver cancer, and heart diseases. Our interdisciplinary approach aims to improve diagnostic accuracy and treatment outcomes, contributing significantly to the field of biomedical imaging.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What is Smart Imaging?'
    text=text
  %}

  {% include text/center_section_title.html text='START HERE' %}

  {% capture left_text_one %}
  <p>Leveraging a wide range of techniques from neural networks to </p>

  <p>As a theoretical field concerned with the ways human knowledge is created, disseminated, and experienced, DH incorporates a wide range of scholarly backgrounds (from English and History to Computer Science and Statistics) and technical methodologies (from structuralist critique and visual analysis, to data mining and network analysis).</p>
  {% endcapture %}

  {% capture right_text_one %}
  <p>Research in medical field face serveral challenges at times of clinical practice.</p> 
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Medical Imaging Research'
    left_text_one=left_text_one

    right_title_one='Clinical Transition'
    right_text_one=right_text_one
  %}

  {% capture text %}
  Smart Imaging Research example.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What do SmartImaging research look like?'
    text=text
  %}

  {% include text/methods_guides_bottom.html %}
</div>
