---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
title: Opportunities
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>The SmartImaging Lab works on a wide range of projects with staff, student, and faculty researchers within the Tsinghua campus and beyond, and is uniquely positioned to support graduate and undergraduate students development through existing project partnerships.</p>

  <p>To explore how the SmartImaging Lab could support your research, please visit our <a href='{{ site.baseurl }}/propose-a-project.html'>project proposal page</a>.</p>
  
  <p>The SmartImaging Lab is equipped to support an array of computing needs. The computing server at the center of Biomedical Imaging Research (CBIR) contains reservable GPU equipment for different computational methods, machines with specialized software for text, image, network, and for general machine learning research. An open, communal workspace, the work space is lined with high-definition monitors, PCs, as well as personal server available for researchers to use.To learn more about our graduate and undergraduate student development programs, please read below.</p>

  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Study With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='OPPORTUNITIES'
  %}

  {% capture left_text_one %}
  <p>The SmartImaging Lab welcomes graduate students</p>
    <a href='{{ site.baseurl }}/awards/certificate.html'
      class='white-button'>Learn More</a>
  {% endcapture %}
  
  {% capture right_text_one %}
    <p>The SmartImaging Lab welcomes undergraduate students </p>
    <a href='{{ site.baseurl }}/awards/dissertation-fellowship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}



  {% include text/color_blocks.html
    left_title_one='PhD Studentship'
    left_text_one=left_text_one

    right_title_one='Undergraduate Dissertation Fellowship'
    right_text_one=right_text_one
  %}

</div>
