---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
title: Study and Research
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>The SmartImaging Lab works on a wide range of projects with staff, student, and faculty researchers within the Tsinghua campus and beyond, and is uniquely positioned to support graduate and undergraduate students development through existing project partnerships.</p>

  <p>To explore how the SmartImaging Lab could support your research, please visit our <a href='{{ site.baseurl }}/propose-a-project.html'>project proposal page</a>.</p>
  
  <p></p>

  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Study With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='Programs and Research'
  %}

  {% capture left_text_one %}
  <p>The SmartImaging Lab welcomes graduate students and undergraduate students to work with us.</p>
    <a href='{{ site.baseurl }}/programs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}
  
  {% capture right_text_one %}
    <p>Research from SmartImaging Lab.</p>
    <a href='{{ site.baseurl }}/awards/dissertation-fellowship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}



  {% include text/color_blocks.html
    left_title_one='Studentship'
    left_text_one=left_text_one

    right_title_one='Research'
    right_text_one=right_text_one
  %}

</div>
