<footer role='content-info'>
  <div class='center-column'>
    <div class='footer-column footer-top'>
      <div class='footer-logo'>
        <a href='https://www.med.tsinghua.edu.cn' target='_blank'>
          <img src='{{ site.baseurl }}/assets/images/branding/THU_marks.svg'
            alt='Tsinghua University Footer Logo'>
        </a>
      </div>
    </div>
    <div class='footer-column footer-bottom'>
      <div>Center for Biomedical Imaging Research</div>
      <div>Tsinghua University</div>
      <div>30 Shuangqing Road, Beijing, 100190</div>
      <div class='footer-mobile-icons'>
        <a href='mailto:{{ site.email }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-email.svg'
            alt='Email icon'>
        </a>
        <a href='https://twitter.com/{{ site.twitter }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-twitter.svg'
            alt='Twitter icon'>
        </a>
        <a href='https://www.github.com/{{ site.github }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-github.svg'
            alt='GitHub icon'>
        </a>
        <a href='https://www.instagram.com/{{ site.instagram }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-instagram.svg'
            alt='Instagram icon'>
        </a>
      </div>
      <div>
        <a class='hide-tablet' href='mailto:{{ site.email }}'>{{ site.email }}</a>
      </div>
      <br/>
      <div>
        <b><a href='{{ site.baseurl }}/terms-of-use.html'>TERMS OF USE</a></b> & <b><a href='{{ site.baseurl }}/privacy-policy.html'>PRIVACY POLICY</a></b><br/><br/>
      </div>
      <div>
        <b><a href='https://www.tsinghua.edu.cn/en/Visitor/how_to_get_to_tsinghua/Accessibility_Map.htm' target='_blank'>ACCESSIBILITY AT Tsinghua</a></b>
      </div>
    </div>
    <div class='footer-column footer-bottom' id='footer-on-campus'>
      <b>SmartImaging Lab PARTNERS</b>
      <br/>
      <br/>
      <div>
        <a href='https://www.tsinghua.edu.cn/en/'>Tsinghua University</a>
      </div>
      <div>
        <a href='https://www.med.tsinghua.edu.cn/en/info/1334/1266.htm/'>Center for Biomedical Imaging Research</a>
      </div>
      <div>
        <a href='https://www.med.tsinghua.edu.cn/'>Tsinghua University, School of Medicine</a>
      </div>
      <div>
        <a href='https://www.btch.edu.cn/newen/'>BeiJing Changgung Hospital</a>
      </div>
      <div>
        <a href='https://www.jst-hosp.com.cn/Html/News/Main/324.html'>Beijing Jishuitan Hospital</a>
      </div>
      <div>
        <a href=''>Tsinghua</a>
      </div>
      <br/>
      <div>
        <b><a href='https://www.med.tsinghua.edu.cn/' target='_blank'>SIGN UP FOR SmartImaging Lab EMAILS</a></b>
      </div>
    </div>
  </div>
</footer>
