{% capture left_text %}
<p>For help working out if and where SmartImaging Lab can shape your work, or for questions or any other help, please contact Dr. Chen for detailed discussion.</a>.</p>
{% endcapture %}

{% capture right_text %}
<p>From consultations on research development to full partnerships on research design and development, theSmartImaging Lab offers a wide range of support for Medical Imaging projects, partnering with university staff, hospitals and researchers of all experience levels (graduate students, undergraduates, postdocs, and faculty).</p>
{% endcapture %}

{% capture left_url %} {{ site.baseurl }}/contact.html {% endcapture %}
{% capture right_url %} {{ site.baseurl }}/resources.html {% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Contact Us'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  right_button_url=right_url
%}
