{% capture left_text %}
<p>As with most research in any field, Medical Imaing research often emerge from a combination of clinical needs, literature reviews, technological advancements, interdisciplinary collaboration, funding opportunities, preliminary data analysis, and innovation in algorithms. Researchers identify gaps or challenges in current diagnostic and treatment methods, discover unresolved questions or limitations in existing research, and leverage new technologies or methodologies to improve imaging techniques. Collaborative efforts across different fields often lead to addressing complex medical problems, while specific calls for research proposals from funding agencies and promising preliminary data further inspire and shape new projects. Innovations in computational models or algorithms also play a critical role in driving forward medical imaging research.</p>

<p>Medical imaging research is clinically significant as it enhances the accuracy and early detection of diseases, improves patient outcomes through precise diagnosis and treatment planning, reduces invasive procedures by providing detailed internal views, and advances personalized medicine by tailoring treatments to individual patient conditions.</p>

<p>For help working out if and where SmartImaging Lab can shape your work, or for questions or any other help, please contact Dr. Chen for detailed discussion.</a>.</p>
{% endcapture %}

{% capture right_text %}
<p>From consultations on research development to full partnerships on research design and development, theSmartImaging Lab offers a wide range of support for Medical Imaging projects, partnering with university staff, hospitals and researchers of all experience levels (graduate students, undergraduates, postdocs, and faculty).</p>
{% endcapture %}

{% capture left_url %} {{ site.baseurl }}/contact.html {% endcapture %}
{% capture right_url %} {{ site.baseurl }}/resources.html {% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Contact Us'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  right_button_url=right_url
%}
